<div class="content-box">
  <header>
    <button class="control right expander">
      {{ name }}
      <i class="icon icon-down expander-status"></i>
    </button>
  </header>
  <section class="content exercises">
  </section>
</div>
