<strong>{{ interval }}</strong> {{ exercise.interval_type }} at <strong>{{ weight_calc }}</strong> lbs.
<span class="actions">
  <button class="success">Success</button>
  <button class="failure">Failure</button>
</span>