<button class="image-button create-regimen red">
  <figure>
    <img src="">
    <figcaption>Create a New Regimen</figcaption>
  </figure>
</button>

<button class="image-button resume-regimen yellow">
  <figure>
    <img src="">
    <figcaption>Resume Your Regimen</figcaption>
  </figure>
</button>