<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Regimen">

  <title>Regimen</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>

<header id="headerRegion" class="app-header">
  <a href="/" class="control left">
    <i class="icon icon-regimen-home"></i>
  </a>
  <h1 class="brand">Regimen</h1>
  <a href="/program/configure" class="control right">
    <i class="icon icon-regimen-settings"></i>
  </a>
</header>

<div id="splashRegion" class="splash">
  <div class="splash">
    <h1 class="brand">Regimen</h1>
  </div>
</div>

<main id="mainRegion"></main>

<script data-main="/js/config" src="/js/vendor/requirejs/require.js"></script>
<script>
define('constants', function() {
  return {
    url: {
      client: '{{ config.url.client }}',
      api: '{{ config.url.api }}'
    }
  };
});
define('bootstrap', function() {
  return {{{ bootstrap }}};
});
</script>

</body>
</html>
