[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "regimen-icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}

.icon-regimen-left:before {
  content: "l";
}

.icon-regimen-right:before {
  content: "r";
}

.icon-regimen-home:before {
  content: "h";
}

.icon-regimen-settings:before {
  content: "s";
}

.icon-regimen-down:before {
  content: "d";
}

.icon-regimen-up:before {
  content: "u";
}