<button class="control left" rel="previous">
  <i class="icon icon-left"></i>
  <span class="visually-hidden">Previous</span>
</button>
<h3 class="program-label">{{ program.name }}</h2>
<h2 class="iteration-label">Week {{ week }}</h2>
<button class="control right" rel="next">
  <i class="icon icon-right"></i>
  <span class="visually-hidden">Next</span>
</button>
